@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&display=swap");

:root {
  --red: #d00000;
  --yellow: #ffcc00;
  --blue: #03071e;
  --orange: #e85d04;
  --creame: #f7ecde;
  --oragnge-light: rgb(245, 145, 15);
  --light-purple: #a278cf;
  --green: hsl(80, 100%, 26%);
  --lavender: #8542ce;
  --sky-blue: #06bfe3;
  --brown: #7c6150;
  --white: white;
  --pink: #fe2c50;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--oragnge-light);

  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: white;

}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: #000;
  font-weight: 600;
}

.heading span {
  color: var(--orange);
}

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--blue);
  color: var(--blue);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: #93c572;
  transition: 0.3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;

}

.btn:hover {
  /* color: red; */
  font-weight: bolder;
  /* background-color: #06bfe3; */
}

header {
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 1000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 1.7rem 9%;

  transition: all 0.5s;

  z-index: 1000;
}

.master-nav {
  font-size: 20px;
  height: 20px;
  background: red;
  z-index: 1001;
  display: flex;
  justify-content: space-between;
}

.master-nav .ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav {
  top: 0;
}

.header .logo {
  width: 150px;
  height: 40px;
  display: block;

}

.header .logo i {
  padding-right: 0.5rem;
  color: (--red);
}



.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  align-items: center;
  /* background-color: var(--sky-blue); */
  /* background:url(../images/home-bg.jpg) no-repeat; */
  background-size: cover;
  background-position: center;
}

.hero-section {
  /* background-color: #93c572; */
  min-height: 100vh;
  /* background-color: var(--light-purple); */
  /* background: rgb(241, 231, 13);
  background: linear-gradient(180deg, rgba(241, 231, 13, 1) 45%, rgba(251, 112, 6, 1) 100%); */
  background-image: url("./images/1111-1jd4sFMeN-transformed.jpeg");
  background-position: 50%;
  background-size: cover;

  /* background-image: url("/public/images/pexels-pixabay-236834.jpg"); */

}

.home .content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
  color: #eee;
  /* color: #000; */
  background-color: wheat;
  opacity: 0.8;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.home .image {
  flex: 1 1 40rem;
  /* background-color: #93c572; */
  /* background-color: #06bfe3; */
  background-color: white;
  /* background: rgb(0, 4, 40);
  background: linear-gradient(177deg, rgba(0, 4, 40, 1) 2%, rgba(0, 78, 146, 1) 81%); */
  border-radius: 50%;
  /* opacity: 0.5;   */
  /* animation: pulse 2s ease infinite; */
}



.home .image img {
  width: 100%;
  padding: 1rem;
  /* animation: float 3s linear infinite; */
}

@keyframes pulse {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1.2);
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(3rem);
  }
}

.home .content h3 {
  font-size: 5rem;
  /* color: #eee; */
  color: #000;
}

.home .content p {
  font-size: 1.7rem;
  color: black;
  /* color: #000; */
  padding: 1rem 0;
  font-weight: bolder;
  font-weight: 800;
  opacity: 1.5 !important;

}




.about-us {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  align-items: center;
  /* background-color: #dec7a8; */
  /* background: rgb(13, 144, 241); */
  /* background: linear-gradient(243deg, rgba(13, 144, 241, 1) 28%, rgba(5, 247, 163, 1) 100%); */
  /* background:url(../images/home-bg.jpg) no-repeat; */
  background-image: url(images/img1.webp);
  background-size: cover;
  background-position: center;
}

.about-us .ab-content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
  /* color: #000; */
  color: rgb(22, 117, 161);
  /* background: black; */
  opacity: 0.8;
  background-color: moccasin;
  border-radius: 10px;
  padding: 1%;
  text-align: center;


}


.about-us .ab-image {
  flex: 1 1 40rem;
  border: 10px transparent solid;
  border-radius: 50%;
  /* animation: pulse 2s ease infinite; */
}

.about-us .ab-image img {
  width: 100%;
  padding: 1rem;
  background-color: moccasin;
  opacity: 0.8;
  /* animation: float 3s linear infinite; */
  border-radius: 25px;
}

.about-us .ab-content h3 {
  font-size: 5rem;
  /* color: #eee; */
  /* color: #000; */
  /* color: white; */
  color: rgb(22, 117, 161);
  font-weight: bolder;
  text-align: center;


}

.about-us .ab-content p {
  font-size: 1.7rem;
  /* color: #000; */
  padding: 1rem 0;
  /* background-color: moccasin; */

}

.nav_bar {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
  z-index: 1000;
}

.nav_bar .container {
  background-color: var(--lavender);
  padding: 14px 0;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.nav_bar .container .row .col {
  border-right: 1px solid black;
}

.nav_bar .container .row .col a {
  font-size: 20px;
  color: white;
  font-weight: bolder;
  text-decoration: none;
}




.prod-1 {
  color: var(--green);
}

.prod-2 {
  color: var(--lavender);
}

.prod-3 {
  color: var(--brown);
}

.prod-4 {
  color: var(--pink);
}

.prod-5 {
  color: var(--sky-blue);
}

/* .speciality{
  background: url(./images/savory.jpg);
  background-size: cover;
} */

.speciality .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.speciality .box-container .box {
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 0.5rem;
}

.speciality .box-container .box .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}

.box img {
  width: 100px;
  height: 100px;
}

.speciality .box-container .box .content {
  text-align: center;
  background: var(--white);
  padding: 3rem;
}

.speciality .box-container .box .content img {
  margin: 1.5rem 0;
  width: 60%;
  height: 60%;
}

.speciality .box-container .box .content h3 {
  font-size: 2.5rem;
  /* color: var(--yellow); */
  font-family: "Josefin Sans";
}

.speciality .box-container .box .content p {
  font-size: 1.6rem;
  font-weight: 500;
  color: black;
  padding: 1rem 0;
}

.speciality .box-container .box:hover .image {
  top: 0;
  background-color: lightgrey;

}

.speciality .box-container .box:hover .content {
  transform: translateY(130%);
}

.popular {
  /* background-color: hsl(80, 53%, 55%); */
  /* background: rgb(241, 231, 13);
  background: linear-gradient(129deg, rgba(241, 231, 13, 1) 28%, rgba(247, 110, 5, 1) 100%); */
  background-image: url("./images/popular-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.popular .box-container {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  gap: 1.5rem;
  margin: 0 11%;
}

.popular .box-container .box {
  max-width: 50%;
  margin: auto;
}

.popular .box-container .box {
  padding: 2rem;
  background: var(--white);
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 1rem solid transparent;
  border-radius: 0.5rem;
  text-align: center;
  flex: 1 1 30rem;
  margin: auto;
  position: relative;
}


.popular .box-container :hover {
  background-color: var(--yellow);
  /* background-color: var(--light-purple); */
  color: #03071e;
  border-color: white;
}

.popular .heading {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  margin: 0 35%;
  margin-bottom: 20px;

}

.popular .box-container .box img {
  height: 25rem;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
  /* top: -100px; */
}

.popular .box-container .box .price {
  position: absolute;
  top: 3rem;
  left: 3rem;
  background: var(--light-purple);
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.popular .box-container .box h3 {
  font-size: 2.5rem;
  padding-top: 1rem;
}

.popular .box-container .box p {
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  padding: 1rem 0;
}

.box-bg :hover {
  background-color: transparent;
}

/* new */
.blink {
  /* animation: blinker 1.5s linear infinite; */
  font-size: 30px;
  background-color: var(--lavender);
  color: black;
  font-family: "Nunito";
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.steps {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
  background-color: var(--blue);
}

.steps .box {
  flex: 1 1 25rem;
  padding: 1rem;
  text-align: center;
}

.steps .box img {
  border-radius: 50%;
  border: 1rem solid var(--yellow);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.steps .box h3 {
  font-size: 2.5rem;
  color: var(--yellow);
  padding: 1rem;
}

.gallery {
  background-image: url("./images/istockphoto-1467684983-2048x2048-transformed.jpeg");
  background-size: cover;


}

.gallery .heading {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  margin: 0 35%;
  margin-bottom: 20px;

}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 10px 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}


.flip-card-back {
  background-color: burlywood;
  color: white;
  transform: rotateY(180deg);
  padding: 20% 0;
}

.flip-card-back h1 {
  color: var(--orange);
  margin-bottom: 10px;
}

.flip-card-back .ingredients li {
  font-size: 1.3rem;
  color: black;
  list-style: none;
}



/* .choise {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

.choise .container {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
}

.choise .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.choise .container .row .col1 {
  margin: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  height: 240px;
  width: 350px;
}

.choise .container .row .col1 img {
  object-fit: contain;
  aspect-ratio: 3/2;
  width: 80%;

}

.choise .container .row .col1 span {
  font-size: 16px;
}

/* .choise #carouselExample{
  width: 100px;
  height: 20px;
  border: 1px solid red;
} */
#carouselExample .carousel-inner .carousel-item {

  text-align: center;

}

#carouselExample .carousel-inner .carousel-item span {
  font-size: 15px;
}

#carouselExample .carousel-inner .carousel-item img {
  object-fit: contain;
  aspect-ratio: 3/2;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}

#carouselExample .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -62px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;

}

#carouselExample .carousel-indicators button {
  background-color: rgb(177, 177, 177);
  margin: 20px 10px;
  padding: 3px;

  border-radius: 50%;
}

#carouselExample .carousel-indicators .active {
  background-color: rgb(0, 0, 0);
}

#carouselExample {
  display: none;
}

/* .gallery a {
  color: white;
} */


/* .gallery{
  position: relative;
} */

.media-coverages .container .row .col img,
.media-coverages1 .container .row .col img,
.media-coverages1 .container .row .col1 img {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  object-fit: contain;
  aspect-ratio: 3/2;
  width: 80%;
}

.media-coverages1 {
  display: none;
}

.float {
  font-size: 30px;
  margin: 60px 20px;
  background-color: #73b9b1;
  padding: 5px 15px;
  border-radius: 10px;
  float: right;
  position: fixed;
  bottom: 0%;
  right: 0;
  color: rgb(255, 255, 255);
  transform: translateY(0px);
}

.float:hover {
  transform: translateY(-10px);
}





/*--------------- review carosal start------------------------ */




/* #carosal-back {
  background-color: lavender;
  position: absolute;
  opacity: 0.9;
  z-index: -1000;
}

.carousel-control-prev a span {
  color: black;
  font-size: 30px;
  font-weight: bold
}
#carouselExample .carousel-inner{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  
 
}

#carouselExample{
  display: none;

}
#carouselExample span{
  font-size: 15px;
} */







@media (max-width: 767px) {
  /* .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block;
  } */

  .gallery .heading {

    margin: 0 0%;
  }

  .popular .heading {

    margin: 0 0%;
    margin-bottom: 10px;

  }




  .nav_bar {
    position: -webkit-sticky;
    position: sticky !important;
    top: 0;
    z-index: 1000;
  }

  .choise .container .row .col {
    height: 180px;
  }

  #choise_container {
    display: none;
  }

  #carouselExample {
    display: block;
  }

  .footer .container .row {
    display: flex;
    flex-direction: column;
  }

  #footer_link {
    text-align: left;
  }

  #footer_link .share {

    margin: 0px 10px;

  }

  .media-coverages {
    display: none;
  }

  .media-coverages1 {
    display: block;
  }

  #ingredients {

    display: none;
  }

  /* #carouselExample{
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  #carouselExample img{
    width: 270px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
  }
  */
  .popular {
    /* background-color: hsl(80, 53%, 55%); */
    /* background: rgb(241, 231, 13);
    background: linear-gradient(129deg, rgba(241, 231, 13, 1) 28%, rgba(247, 110, 5, 1) 100%); */
    background-image: url("./images/nasia-m-qkjSHycXQ4Q-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .popular .heading {
    background-color: rgb(224, 224, 224);
    color: rgb(0, 0, 0);


  }
  .float {
    font-size: 20px;
    margin: 50px 20px;
    background-color: #73b9b1;
    padding: 5px 10px;
    border-radius: 10px;
    float: right;
    position: fixed;
    bottom: 0%;
    right: 0;
    color: rgb(255, 255, 255);
    transform: translateY(0px);
  }




}


/* .carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
} */

/* medium and up screens */
/* @media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}  */


/*--------------- review carosal end------------------------ */

.order {
  background-image: url("/public/images/blake-wisz-Bf_ItbkEBjI-unsplash.jpg");
  background-size: cover;
}

.order .row {
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  /* background: #fff; */
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border-radius: 0.5rem;
}

.order .row .image {
  flex: 1 1 30rem;
}

.order .row .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.order .row form {
  flex: 1 1 50rem;
  padding: 1rem;
}

.order .row form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order .row form .inputBox input,
.order .row form textarea {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  width: 49%;
}

.order .row form textarea {
  width: 100%;
  resize: none;
  height: 15rem;
}

/* .order .row form .btn {
  background: none;
}

.order .row form .btn:hover {
  background: var(--red);
} */

/* recepie */
.home .content h2 {
  font-size: 2rem;
  /* color: #eee; */
  color: #000;
}

.home .content .ingredients {
  font-size: 1.7rem;
  /* color: #eee; */
  color: #000;
  padding: 1rem 0;
}

.recepie h2 {
  font-size: 2rem;
  /* color: #eee; */
  color: #000;
}

.recepie .method li {
  font-size: 1.7rem;
  /* color: #eee; */
  color: #000;
  padding: 1rem 0;
}

.footer {
  background: var(--creame);
  text-align: center;
}

.footer .logo {
  max-width: 150px;
  max-height: 40px;
}

.footer a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#footer_link {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

.footer .share {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  gap: 1.5rem;

  flex-wrap: wrap;
}

.footer .credit {
  padding: 2.5rem 1rem;
  color: #111;
  font-weight: normal;
  font-size: 2rem;
}

.footer .credit span {
  color: var(--orange);
}

#scroll-top.active {
  /* display:; */
  position: fixed;
  bottom: 0;
  margin: 10px 20px;
  right: 0rem;
  padding: 0.5rem 1.5rem;
  font-size: 3rem;
  background: var(--light-purple);
  color: #ff0000;
  border-radius: 0.5rem;
  transition: 1s linear;
  z-index: 1000;
}

/* #scroll-top.active {
  bottom: calc(100% - 12rem);
} */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container.fade-out {
  top: -120%;
}


/*-------------- review carouselExampleIndicators------------------- */
/* #carouselExampleIndicators {
  display: none;
  margin: 0 10%;
}

#carouselExampleIndicators .carousel-indicators {
  position: relative;
  bottom: -300px;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
}

#carouselExampleIndicators .carousel-indicators button {
  background-color: rgb(177, 177, 177);
  margin: 20px 10px;
  padding: 3px;

  border-radius: 50%;
}

#carouselExampleIndicators .carousel-indicators .active {
  background-color: rgb(0, 0, 0);
}

#carouselExampleIndicators .carousel-inner .carousel-item {
  height: 300px;
}

#carouselExampleIndicators h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

#carouselExampleIndicators h2 {
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#carouselExampleIndicators p {
  font-size: 15px;
}
 */


/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

  .popular .box-container .box {
    max-width: 100%;
  }

  .gallery {

    background-size: cover;


  }




  /* #scroll-top{
		display: none;
	} */
  .links {
    display: flex;
    flex-direction: column;
  }

  /* .review .container .row {
    display: none;
  } */

  /* #carouselExampleIndicators {
    display: block;
  } */ 
}

@media (max-width: 768px) {
  #menu-bar {
    display: inline;
  }


  .home .content {
    text-align: center;
  }

  .home .content ul {
    list-style: none;
  }

  .home .content h2 {
    font-size: 20px;
  }

  .home .content li {
    font-size: 20px;
  }

  /* #scroll-top{
		display: none;
	} */

  .links {
    display: flex;
    flex-direction: column;
  }

  .speciality .box-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1.5rem;
    /* max-height: 300px; */
  }

  .speciality .box-container .box {
    max-width: 100%;
    flex: 1 0 100%;
  }

  /* .review .container .row {
    display: none;
  } */

  /* #carouselExampleIndicators {
    display: block;
  } */





  /* .links */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}







.review {
  padding: 30px 0px;
  background-color: var(--creame);
  margin-top: 30px;
}

.review h2 {

  margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
  color: rgb(0, 0, 0);

}

/* .review .container .row .col h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.review .container .row .col p {
  font-size: 15px;
  font-weight: 700;
}


.review .container .row {
  width: 100%;
  margin-top: 20px;
}

.review .container .row .col {
  padding: 0 20px;
}

 */





/* .swiper {
  width: 100%;
  height: 100%;
 
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: inline-block;
  /* justify-content: center;
  align-items: center; 
  
}
*/
/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* .slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
}

.swiper-wrapper {
  margin-bottom: 50px;
}

.swiper-slide .slide button {
  background-color: transparent;
  border: 1px solid orange;
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: bold;
}

.swiper-slide .slide button:hover {
  background-color: orangered;
  color: white;

} */

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .order .row form .inputBox input {
    width: 100%;
  }

  .flip-card-back {
    padding: 17% 0;
  }

  .flip-card-back .ingredients li {
    font-size: 1.5rem;
  }

  .flip-card-back .ingredients li a {
    font-size: 1.5rem;

  }

  /* .swiper-slide {
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
     justify-content: center;
    align-items: center; 

  }  */

}






@media (max-width: 767px) {
  #featureContainer .carousel-inner .carousel-item > div {
    display: none;
  }
  #featureContainer .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
#featureContainer .carousel-inner .carousel-item.active,
#featureContainer .carousel-inner .carousel-item-next,
#featureContainer .carousel-inner .carousel-item-prev {
  display: flex;
}
@media (min-width: 768px) {
  
  #featureContainer .carousel-inner .carousel-item-end.active,
  #featureContainer .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  #featureContainer .carousel-inner .carousel-item-start.active, 
  #featureContainer .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
  /* #featureContainer .card img{
    width: 100%;
    height: 40vh;
  } */
  #featureContainer .carousel-item{
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  /* #featureContainer .card img{
    width: 100%;
    height: 75vh;
  } */
  /* #featureContainer .card {
    height: 35vh;
    width: 0px;

    
   
   } */
   .attach{
  display: none;
  }

}
#featureContainer .carousel-inner .carousel-item-end,
#featureContainer .carousel-inner .carousel-item-start { 
  transform: translateX(0);
}
#featureContainer .card{
  border: 0;
}
#featureContainer .card{
  position: relative;
}
#featureContainer .card .card-img-overlays{
  position: absolute;
  bottom: 15%;
  left: 10%;
}

#featureContainer .indicator{
  background-color: #8542ce;
  border: 1px solid rgb(202, 202, 202);
 padding: 5px 10px;
}
#featureContainer .indicator:hover{
  background-color: rgb(190, 190, 190);
  border: 1px solid rgb(73, 73, 73);
  transition: 200ms;
}
#featureContainer .indicator:hover{
  color: white;
  transition: 200ms;
}
#featureContainer .indicator {
  color: lightgray;
}
#featureContainer .buttons{
  position: absolute;
  bottom: -8%;
z-index: 1;
right: 47%;

 
}


/* #featureContainer a {

  text-decoration: none;
  background-color:#024893 ;
  color: white;
  border-radius: 3px;
  padding:8px 12px;
  
  

} */
#featureContainer .card {
 height: 35vh;
 width: 300px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 margin: 20px;
 border-radius: 10px;
 position: relative;

}
#featureContainer .card-img {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
#featureContainer .card a {
 position: absolute;
 bottom: 5%;
 left: 23%;
}
#featureContainer .card a:hover {
  transition: .4s;
  transform: scale(1.1);
}
/* #featureContainer .card h6 {
padding: 0px 10px;
} */
#featureContainer .card h3 {
font-size: 25px;
font-weight: 800;
}
#featureContainer .card p {
padding: 0px 10px;
font-size: 15px;
}


.attach{
  background-image: url("./images/savory.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
}